*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Player1
{
   margin-bottom: 3rem;
}
.game
{
  margin-top: 4rem;

    text-align: center;
}
.gameImages
{
    text-align: center;
    position: relative;
}
.images,.images1
{
    width: 7%;
}
.result
{
    margin-top: 3rem;
    font-size: 2rem;
}
.Heading ,.computerHeading
{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.result
{
    margin: 3rem 33rem;
    padding: 2rem 1rem;
    border-radius: 2rem;
}
.cover
{
    position: absolute;
    z-index: 1;
    width: 60rem;
    height: 10rem;
    content: " ";
    display: none;
    
}
